//colors
$purpleThemeColor : #0011A0;
$lightenPurpleThemeColor : lighten($purpleThemeColor, 60%);
$grey : #CDCDCD;
$lightGrey : #D6D6D6;
$veryLightGrey : #EAEAEA;
$redAlert : #900000;
$green : #009510;
//shadows
$mainBoxShadow : 0px 2px 21px -4px rgba(207, 207, 207, 0.75);