*{
  box-sizing: border-box !important;
  outline: none !important;
}

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-container{
  width: 1400px;
  max-width: 100%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title{
  text-align: center;
  margin: 30px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.cta{
  text-align: center;
  padding: 10px;
  width: 100px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0011A0;
  color: #0011A0;
  transition: background-color 0.2s;
}

.secondary-cta{
  text-align: center;
  padding: 5px;
  width: 100px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0011A0;
  color: #0011A0;
  transition: background-color 0.2s;
}

.cta:hover, .secondary-cta:hover{
  background-color: rgba(0, 17, 160, 0.1);
}

.secondary-cta-colors{
  color: #CDCDCD !important;
  border-color: #CDCDCD !important;
}

.field{
  border: 1px solid #D6D6D6;
  padding: 10px;
  font-size: 16px;
  transition: border 0.2s;
}

.field:focus{
  border: 1px solid #0011A0;
}

.error-field{
  border: 1px solid #900000 !important;
}

.error-message{
  text-align: center;
  width: 100%;
  color: #900000;
  font-style: italic;
}

.ui.animated.button .hidden.content{
  margin-top: -3em !important;
}

.ui.button{
  cursor: default !important;
}

.width-0{
  width: 0px !important;
}

.width-200{
  width: 200px;
}