.list{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
  max-width: 100%;
}

.item-options{
  width: 30px;
  min-height: 100px !important; 
  padding: 0px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.item-options div{
  margin-right: 0px !important;
}

.item-options div i{
  margin: 2px !important;
}

.item-options div .trash{
  color: #900000;
}

.item-options div .pencil{
  color: #0011A0;
}

.item-options div .share{
  color: #009510;
}

.item{
  white-space: pre-line;
  width: 470px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0011A0;
  outline: none;
  word-break: break-word;
}

.item-list{
  margin-bottom: 20px;
}

.item-list .cta-restore-delete-item{
  margin: 20px 10px 20px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: #CDCDCD;
}

.removed{
  display: none;
}

.no-list{
  width: 400px;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: #D6D6D6;
}

.add{
  width: 400px;
  max-width: 100%;
}

.add .field-add{
  min-width: 400px;
  max-width: 400px;
  height: 200px;
}

.cta-option-item{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.edit-textarea{
  min-width: 470px;
  max-width: 470px;
  background-color: #EAEAEA;
}